<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Обновить курс валют</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Smart Budget</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/expenses/">Expenses</a></li>
            <li><a href="/vehicle/">Vehicles</a></li>
            <li><a href="/communication/">Communications</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <p></p>
    <h3>Обновить курс валют</h3>

    <p></p>

    <form action="/expenses/currency/response">
        <div class="form-group" >
            <label for="currency">Валюта:</label>
            <select   class="form-control" id="currency" name="currency" >
                <option th:each="currency : ${currencies}" th:value="${currency.key}"><p th:text="${currency.value}"></p></option>
            </select>

            <label for="price">Цена валюты:</label>
            <input type="text" class="form-control" name ="price" id="price" required="true"
                   pattern="^(\d+[.]\d{1,2}){1}$"/>
            <p></p>
            <input type="submit" class="btn btn-info" value="Обновить"/>
        </div>
    </form>
</div>
</body>
</html>