<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Транспортные средства</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Smart Budget</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/expenses/">Expenses</a></li>
            <li class="active"><a href="/vehicle/">Vehicles</a></li>
            <li><a href="/communication/">Communications</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>Транспортные средства</h3>

    <form action="/vehicle/details">
        <div class="form-group" >
            <label for="vehicle">Выбрать:</label>
            <select class="form-control" id="vehicle" name="vehicle" >
                <option th:each="vehicle : ${vehicles}" th:value="${vehicle[id]}"><p th:text="${vehicle[description]}"></p></option>
            </select>
            <input type="submit" class="btn btn-info" value="Выбрать"/>
        </div>
    </form>
</div>

</body>
</html>